body {
  margin: 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

nav {
  background: black;
  padding: 15px;
}

nav a {
  color: white;
  margin: 15px;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 1200px;
}
